@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');
body{
    font-family: 'Source Sans Pro', sans-serif;
    background: linear-gradient(to right, #03045e,#0077b6);
    color: white;
}
.centra{
    text-align: center;
}
.avanzamento{
    position: relative;
    width: 90%;
    left:5%;
    background-color: #fff;
    height: 1%;
    border-radius: 20px;
}
.giga{
    width:90%;
    height: 90%;
    top:5%;
    left:5%;
}
.designquiz{
    padding:20px;
}
.aligner{
    flex:1;
    display: flex;
    padding:2%;
}
.risposta{
    flex:1;
    border: 1px solid #fff;
    border-radius: 50px;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 150%;
    cursor: pointer;
}
.risposta:hover{
    transition : 300ms;
    background-color: #fff;
    color: #023e8a;
    border: solid 2px #fff;
    font-weight: bolder;
}
.res{
    background-color: yellow;
    position: relative;
    height: 100%;
    border-radius: 20px;
}